* {
    box-sizing:border-box;
}

body {
    background-color:antiquewhite;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 1em;
    margin:0;
}

header {
    font-family: 'Archivo', sans-serif;
    text-align: center;
    font-size: 3vw;
    padding: 10px;
}


h2 {
    font-family: 'Archivo', sans-serif;
    text-align: left;
    font-size: 5vw;
    padding: 40px 20px 10px;
}


h3 {
    color: blue;
    font-family: 'Archivo', sans-serif;
    text-align: left;
    font-size: 6vw;
    padding: 20px 20px 10px;
}

img {
    max-width: 100%;
    display:block;
}

.tutorialsStyle {
    background-color: brown;
    width: 90%;
    margin:5%;
    margin-top: 0;
    text-align: center;
    display: inline-block;
}

.tut {
    background-color:azure;
    padding: 20px;
    width: 95%;
    margin-bottom:5%;
    text-align: left;
    display: inline-block;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li.menu {
    float: left;
  }
  
  li.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li.menu a:hover {
    background-color: #111111;
  }



.column {
    float: left;
    width: 33.33%;
    padding 15px;
}

.row:after {
    content:"";
    display: table;
    clear:both;
}

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}